{% if gpg_user_passphrase is undefined 0 or gpg_user_passphrase | length == 0 %}
%no-protection
{% endif %}
Key-Type:      {{ gpg_userkey.key.type }}
Key-Length:    {{ gpg_userkey.key.length }}
Subkey-Type:   {{ gpg_userkey.subkey.type }}
Subkey-Length: {{ gpg_userkey.subkey.length }}
Name-Real:     {{ gpg_userkey.name.real }}
Name-Comment:  {{ gpg_userkey.name.comment }}
Name-Email:    {{ gpg_userkey.name.email }}
Expire-Date:   0
{% if gpg_user_passphrase is defined and gpg_user_passphrase | length > 0 %}
Passphrase:    {{ gpg_user_passphrase }}
{% endif %}
